BOT_TOKEN=
SUPABASE_URL=
SUPABASE_KEY=
BASE_URL=https://YOUR-SERVICE.onrender.com
WEBHOOK_SECRET=change_me
ADMIN_PASSWORD=change_me_strong_password
ADMIN_IDS=123456789

SHOP_TITLE_FA=فروشگاه من
SHOP_TITLE_EN=My Shop

SUPPORT_USERNAME=
REQUIRED_CHANNEL_ID=
REQUIRED_CHANNEL_USERNAME=

CARD_NUMBER=
CARD_HOLDER=

ZARINPAL_MERCHANT_ID=
ZARINPAL_CALLBACK_URL=

CURRENCY=IRT
STAR_TO_RIAL=1000
